.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.photo .photo__box {
    text-align: center;
    height: 100%;
    width: 100%;
}


.photo .photo__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: white;
    margin: 0 auto;
}

.photo img {
    width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

.photo .photo__like {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    transition: border 0.3s;
    cursor: pointer;
}

.photo .photo__like span {
     margin-left: 4px;
 }

.photo .photo__like:hover  {
    border: 1px solid grey;
  }